.Login {
    width: 100vw;
    height: calc(100vh - 88px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Login form {
    min-width: 300px;
    max-width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Login label {
    display: block;
    margin-bottom: 10px;
}

.Login input {
    display: block;
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

.Login button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.Login button:hover {
    background-color: #0069d9;
}
