.Secret {
    display: flex;
}

.Secret .secret-form {
    border: 1px solid rgba(128, 128, 128, 0.5);
    background-color: white;
    flex-grow: 1;
}

.Secret .instruction {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Secret .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}