.ListItem {
    width: 90%;
    height: 80%;
    background: white;
    border-radius: 5px;
    margin: 100px 0 0 0;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.ListItem .items {
    margin: 0 auto;
    border-radius: 5px;
}

.ListItem .filter {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.ListItem .filter div {
    margin: 10px;
}

.ListItem .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ListItem .header button {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.ListItem .header button:hover {
    background-color: #0069d9;
}

.ListItem .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.ListItem .content p {
    max-width: 230px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ListItem .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin: 10px 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    max-width: 500px;
}

.ListItem .item:hover {
    transform: scale(1.05);
}

.ListItem .item .image-container {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.ListItem .item p {
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
}

.ListItem .item span {
    font-size: 14px;
    color: #999;
}

.ListItem .loading-skeleton {
    position: relative;
    display: inline-block;
}

.ListItem .loading-skeleton .skeleton-image {
    width: 250px;
    height: 250px;
    background-color: #ddd;
    border-radius: 5px;
    animation: pulse 1.5s ease-in-out infinite;
}

.ListItem .loading-skeleton .skeleton-text {
    margin: 10px 0;
    width: 80%;
    height: 16px;
    background-color: #ddd;
    border-radius: 5px;
    animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}


