.NewItem {
    max-width: 600px;
    margin: 100px auto auto auto;
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
}

.NewItem form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NewItem form > div {
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.NewItem input, .NewItem textarea {
    width: 87%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    resize: vertical;
    vertical-align: center;
}

.NewItem .form-group input[type="text"],
.NewItem .form-group textarea {
    width: 100%;
}

.NewItem textarea {
    min-height: 200px;
}


.NewItem .specifications td {
    vertical-align: top;
}

.NewItem .specifications td:last-child {
    vertical-align: inherit;
    width: 50px;
}

.NewItem .photo-input {
    margin-top: 0.5rem;
    display: none;
}

.NewItem .photo-container {
    display: flex;
    flex-direction: row;
}

.NewItem .photo-label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    margin: 0 20px 0 0;
}

.NewItem .photo-placeholder {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #ccc;
    border-radius: 0.25rem;
    font-size: 2rem;
    color: #ccc;
}

.NewItem button {
    padding: 0.5rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.NewItem button:hover {
    background-color: #0069d9;
}

.NewItem button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.NewItem .x-button {
    width: 50px;
    padding: 0.25rem;
    color: #fb8787;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.NewItem .x-button:hover {
    color: red;
    background-color: transparent;
}

.NewItem .preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.NewItem .preview-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NewItem .preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.NewItem .remove-photo {
    margin-top: 0.5rem;
    padding: 0.25rem;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.NewItem .remove-photo:hover {
    background-color: #c82333;
}

.NewItem .attachment-input {
    margin-top: 0.5rem;
    display: none;
}

.NewItem .attachment-label {
    width: 100%;
    border: 2px dashed #ccc;
    display: inline-block;
    cursor: pointer;
    position: relative;
    margin: 0 20px 0 0;
    display: flex;
    justify-content: center;
}

.NewItem ul {
    list-style-type: none;
    padding: 0;
}

.NewItem li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.NewItem li a {
    flex-grow: 9;
}

.NewItem .remove-attachment {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s;
}

.NewItem .remove-attachment:hover {
    color: #c82333;
}

.NewItem .remove-attachment svg {
    fill: #dc3545;
    width: 1rem;
    height: 1rem;
}


